* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.sellCarBtn {
    color: "black"; 
    border-color: "black";
    background-color: #FFDB3B;
}

.sellCarBtn:hover {
    color: "#FFDB3B";
    background-color: "black";
}

#cardsContainer {
  background-image: 
	
    /* Shadows */ 
    linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
  
/* Shadow covers */ 
    linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   

  background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

/* width */
#cardsContainer::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
#cardsContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
#cardsContainer::-webkit-scrollbar-thumb {
    background: #504B48; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
#cardsContainer::-webkit-scrollbar-thumb:hover {
    background: #504B48; 
  }
